.group-area
  .group-area__userinfo
    .userinfo__username<
      = current_user.name
    %ul.userinfo__edit
      %li
        = link_to new_group_path do
          = fa_icon 'edit 1.5x'
      %li
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog'
  %ul.grouo-area__group-list
    %li
      %a{href: "/"}
        .group-list__name group_name1
        .group-list__message まだメッセージはありません。
    %li
      %a{href: "/"}
        .group-list__name group_name2
        .group-list__message まだメッセージはありません。
    %li
      %a{href: "/"}
        .group-list__name group_name3
        .group-list__message ここに最新のメッセージが入ります。
    %li
      %a{href: "/"}
        .group-list__name grooooooooooooooooooooooooooooup_name4
        .group-list__message ここに最新のメッセージが入ります。ここに最新のメッセージが入ります。ここに最新のメッセージが入ります。ここに最新のメッセージが入ります。
    %li
      %a{href: "/"}
        .group-list__name group_name5
        .group-list__message ここに最新のメッセージが入ります。
    %li
      %a{href: "/"}
        .group-list__name group_name6
        .group-list__message ここに最新のメッセージが入ります。
    %li
      %a{href: "/"}
        .group-list__name group_name7
        .group-list__message ここに最新のメッセージが入ります。
    %li
      %a{href: "/"}
        .group-list__name group_name8
        .group-list__message ここに最新のメッセージが入ります。
    %li
      %a{href: "/"}
        .group-list__name group_name9
        .group-list__message ここに最新のメッセージが入ります。
    %li
      %a{href: "/"}
        .group-list__name group_name10
        .group-list__message ここに最新のメッセージが入ります。
