.group-area
  .group-area__userinfo
    .userinfo__username<
      = current_user.name
    %ul.userinfo__edit
      %li
        = link_to new_group_path do
          = fa_icon 'edit 1.5x'
      %li
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog'
  %ul.grouo-area__group-list
    - current_user.groups.each do |group|
      %li
        = link_to group_messages_path(group) do
          .group-list__name
            = group.group_name
          .group-list__message
            = group.show_last_message
